---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  -performance-enum-size,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-return-braced-init-list,
  -modernize-pass-by-value,
  -modernize-use-auto,
  -modernize-use-default-member-init,
  -modernize-use-emplace,
  -modernize-use-equals-default,
  -modernize-use-equals-delete,
  -modernize-use-nodiscard,
  -modernize-use-override,
  -modernize-use-using,
  -modernize-deprecated-headers,
  -modernize-avoid-c-arrays,
  -modernize-concat-nested-namespaces,
  -modernize-loop-convert,
  -modernize-raw-string-literal,
  -modernize-replace-auto-ptr,
  -modernize-replace-random-shuffle,
  -modernize-shrink-to-fit,
  -modernize-unary-static-assert,
  readability-*,
  -readability-avoid-const-params-in-decls,
  -readability-convert-member-functions-to-static,
  -readability-implicit-bool-conversion,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-qualified-auto,
  -readability-redundant-access-specifiers,
  -readability-redundant-member-init,
  -readability-simplify-boolean-expr,
  -readability-static-accessed-through-instance,
  -readability-uppercase-literal-suffix,
  -bugprone-easily-swappable-parameters,
  -bugprone-branch-clone,
  -bugprone-narrowing-conversions,
  -bugprone-implicit-widening-of-multiplication-result,
  -performance-no-int-to-ptr,
  -readability-identifier-length,
  -readability-const-return-type,
  -readability-math-missing-parentheses,
  -readability-redundant-inline-specifier,
  -readability-braces-around-statements,
  -bugprone-reserved-identifier,
  -modernize-use-nullptr,
HeaderFilterRegex: ''
FormatStyle: file
CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: '200'
  - key: bugprone-sizeof-expression.WarnOnSizeOfConstant
    value: 'false'
...
