build*
.cproject
I2PChat
I2P-Messenger
/i2p-messenger_plugin_import.cpp
/Makefile*
NUL
/object_script*
.project
*.pro.user*
.qmake*
release/
/src/gui/ui_form_*.h
temp/**

application.ini
DebugLog.txt
UnsentChatMessageStorage.ini
users.config

